nvflare/_version.py export-subst
examples/hello-world/ml-to-fl/pt/jobs/client_api/app/custom/NVFlare/examples/hello-world/ml-to-fl/pt/code/data/cifar-10-python.tar.gz filter=lfs diff=lfs merge=lfs -text
nvflare/_version.py export-subst
